<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    {% for css in plugins.css %}
    <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  </head>
  <body class="text-slate-700 bg-white dark:bg-zinc-800 dark:text-white">
    {% include "components/header.njk" %}
    <main>{{ content | safe }}</main>
    {% include "components/footer.njk" %} {% getBundle "fontawesome" %}
    <div id="whatsapp-widget">&nbsp;</div>
  </body>
  {% for js in plugins.js %}
  <script src="{{ js }}"></script>
  {% endfor %}

  <script type="module" src="/assets/js/scripts.js"></script>
</html>
