<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="text-slate-700 bg-white dark:bg-zinc-800 dark:text-white">
    {% include "../components/header.njk" %}
    <main>{{ content | safe }}</main>
    {% include "../components/footer.njk" %} {% getBundle "fontawesome" %}
  </body>
  <script type="module" src="/assets/js/scripts.js"></script>
</html>
