---
title: Beranda
layout: base
permalink: /index.html
---

{% include "beranda/hero.njk" %}
{% include "beranda/techs.njk" %}
{% include "beranda/services.njk" %}
{% include "beranda/targets.njk" %}
{% include "beranda/proses.njk" %}
{% include "beranda/clients.njk" %}
{% include "beranda/cta.njk" %}


