---
title: Beranda
layout: layouts/base.njk
---

{% include "beranda/hero.njk" %}

{% include "beranda/services.njk" %}
{% include "beranda/targets.njk" %}
{% include "beranda/proses.njk" %}
{% include "beranda/clients.njk" %}
{% include "beranda/cta.njk" %}


